.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1047353270.index
.metadata/.plugins/org.eclipse.jdt.core/123509935.index
.metadata/.plugins/org.eclipse.jdt.core/1280305850.index
.metadata/.plugins/org.eclipse.jdt.core/1294244358.index
.metadata/.plugins/org.eclipse.jdt.core/1545417735.index
.metadata/.plugins/org.eclipse.jdt.core/1728642882.index
.metadata/.plugins/org.eclipse.jdt.core/1750058806.index
.metadata/.plugins/org.eclipse.jdt.core/1810561026.index
.metadata/.plugins/org.eclipse.jdt.core/1995363533.index
.metadata/.plugins/org.eclipse.jdt.core/2036858435.index
.metadata/.plugins/org.eclipse.jdt.core/2220666312.index
.metadata/.plugins/org.eclipse.jdt.core/2407591640.index
.metadata/.plugins/org.eclipse.jdt.core/2477846846.index
.metadata/.plugins/org.eclipse.jdt.core/2510392829.index
.metadata/.plugins/org.eclipse.jdt.core/2569705209.index
.metadata/.plugins/org.eclipse.jdt.core/3082400079.index
.metadata/.plugins/org.eclipse.jdt.core/3338684372.index
.metadata/.plugins/org.eclipse.jdt.core/3508997439.index
.metadata/.plugins/org.eclipse.jdt.core/3677605692.index
.metadata/.plugins/org.eclipse.jdt.core/3876907694.index
.metadata/.plugins/org.eclipse.jdt.core/3957025806.index
.metadata/.plugins/org.eclipse.jdt.core/4075516220.index
.metadata/.plugins/org.eclipse.jdt.core/455560408.index
.metadata/.plugins/org.eclipse.jdt.core/589802791.index
.metadata/.plugins/org.eclipse.jdt.core/69682449.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/HelloSpring/2016/8/32/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/HelloSpring/2016/8/32/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/HelloSpring.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_2_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_7.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/_8.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/020751de5714e95411d1f78c05ea9eab/segments_a
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.metadata/
RemoteSystemsTempFiles/
